{% extends 'base.html' %}

{% block content %}
    <h1>{% block title %} Welcome to CloudThings {% endblock %}</h1>
    <img src="images/togaf9-certifed.png">
    <img src="../images/azure-fundamentals-600x600.png">
    <img src="/images/azure-data-fundamentals-600x600.png">
    <img src="https://cloudthings.azurewebsites.net/images/azure-ai-fundamentals-600x600.png">
    
    <img src="togaf9-certifed.png">

    <img src="{{ url_for('static', filename='images/togaf9-certifed.png') }}"></img>

{% endblock %}


