
<!-- 

{% extends 'base.html' %}

{% block content %}
    <h1>{% block title %} Welcome to CloudThings {% endblock %}</h1>
    <img src="../images/togaf9-certifed.png">
    <img src="../images/azure-fundamentals-600x600.png">
    <img src="../images/azure-data-fundamentals-600x600.png">
    <img src="../images/azure-ai-fundamentals-600x600.png">
{% endblock %}

-->

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/style.css') }}">
    <title>CloudThings</title>

    <h1>{% block title %} Welcome to CloudThings {% endblock %}</h1>
    <img src="images/togaf9-certifed.png">
    <img src="../images/azure-fundamentals-600x600.png">
    <img src="/images/azure-data-fundamentals-600x600.png">
    <img src="https://cloudthings.azurewebsites.net/images/azure-ai-fundamentals-600x600.png">
    
</head>